<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TC | {%block title%}{%endblock%}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Nunito">
    <link rel="stylesheet" href="/css/clock.css" />
    <script src="/js/clock.js"></script>
    <script src="/js/event-handlers.js"></script>
    <script src="/js/vanilla-calendar.js"></script>

  <style>

      .cast { background: #00D1B2; }
      body { font-family: 'Nunito';}

      div.clock-dyn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        color: #FFFFFF;
          font-size: 78px;
          font-weight: bold;
        letter-spacing: 12px;
      }
  </style>

</head>
<body class="cast">
<nav class="navbar navbar-light navbar-expand-md fixed-top">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            {% block navLeft %}{% endblock %}
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto text-white" href="{{ url_for('common.main_page') }}"><h2><b>TimeCounter</b></h2></a>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            {% if current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('common.profile_page') }}"><h4><b>Профиль</b></h4></a>
            </li>
            {% endif %}
            {% if not current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.login_page') }}"><h4><b>Авторизоваться</b></h4></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.signup_page') }}"><h4><b>Регистрация</b></h4></a>
            </li>
            {% endif %}
            {% if current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.logout_page') }}"><h4><b>Выход</b></h4></a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>


<div class="container-fluid mt-5 pt-5">

{% block content %} {% endblock %}



</div>
{% block scripts %}{% endblock %}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>
