{% extends "base.html" %}


{% block show %}
<div class="row">
    {% if current_user.is_authenticated %}
    <div class="col-5">
        <div id="myCalendar" class="vanilla-calendar"></div>
    </div>
    <div class="col">
        Осталось сегодня
        <div id="MyClockDisplay" class="clock-dyn" onload="checkPause()"></div>
        <br>
        {% if today %}
        Начало {{today.start.strftime('%H')}}:{{today.start.strftime('%M')}}:{{today.start.strftime('%S')}}
        | {{today.start.day}} {{show_month}}
        <br>
        Финиш {{today.stop.strftime('%H')}}:{{today.stop.strftime('%M')}}:{{today.stop.strftime('%S')}}
        | {{today.stop.day}} {{show_month}}
        {%endif%}
        <br>
        <br>
        <div id="Breaks"></div>
        {% if today and today.done%}
        <br>
            Продолжительность составила: {{today.duration}}
            {% if breaks_sum %}
                <br>
                при этом, суммарно перерывов на: {{ breaks_sum }}
            {%endif%}
        {%endif%}


    </div>
    {%endif%}

    {% if not current_user.is_authenticated %}
    <div class="col-11">
        <a>Главная страница, Добро пожаловать!!!</a>
    </div>
    {%endif%}

    <div class="col-1">
    <!--clock start-->
        <div class="clock">
            <div class="hour">
                <div class="hr" id="hr">
                </div>
            </div>
            <div class="min">
                <div class="mn" id="mn">
                </div>
            </div>
            <div class="sec">
                <div class="sc" id="sc">
                </div>
            </div>
        </div>
    <!--clock end-->
    </div>
</div>

<link rel="stylesheet" href="/css/vis_clock.css" />
<script src="/js/vis_clock.js"></script>

<!---->

<link rel="stylesheet" href="/css/vanilla-calendar.css">
<script src="/js/vanilla-calendar.js"></script>

<script src="/js/event-handlers.js"></script>

<script type="text/javascript">




let DateToShow = new Date();
{% if today %}
DateToShow.setDate({{today.start.day}});
DateToShow.setMonth({{today.start.month-1}});
DateToShow.setYear({{today.start.year}});
{% endif %}

let myCalendar = new VanillaCalendar({
    selector: "#myCalendar",
    pastDates: 1,
    datesFilter: 0,
    onSelect: (data, elem) => { send_selected_date(data, elem) },
    date: new Date(),
    todaysDate: DateToShow,
    availableWeekDays: [
        //{day: 'monday', others: values},
    ],
    availableDates: [
        //{date: '2020-07-07', others: values},
    ],
    months: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
    shortWeekday: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']

})
</script>

{% endblock %}

{% block control %}
<div class="row">
    <div class="col-3">
        <form method="POST" action="/">
            <div class="input-group">
                <input type="number" class="form-control" id="begind" name="begind" placeholder="часов" min="1" max="16" value="{{begind}}">
                <button class="btn btn-outline-secondary">Старт</button>
            </div>
        </form>
    </div>
    <div class="col-3">
        <form method="POST" action="/">
            <div class="input-group">
                <button class="btn btn-outline-secondary" name="resetd" value="true">Сбросить</button>
            </div>
        </form>
    </div>
</div>
<div class="row mt-3 mb-3">
</div>
<div class="row">
    <div class="col-3">
        <form method="POST" action="/">
            <div class="input-group">
                <input type="number" class="form-control" id="changed" name="changed" placeholder="часов" min="0" max="16" value="0">
                <button class="btn btn-outline-secondary">Изменить</button>
            </div>
        </form>
    </div>
    <div class="col-3">
        <form method="POST" action="/">
            <div class="input-group">
                <button class="btn btn-outline-secondary" id="finishd" name="finishd" value="{{today.done}}">Завершить</button>
            </div>
        </form>
    </div>
    <div class="col-3">
        <div class="input-group">
            <button class="btn btn-outline-secondary" id="paused" name="paused" value="{{is_pause}}" onclick="clickPause(value)">{{pause_label}}</button>
        </div>
    </div>
</div>



<!--dyn clock-->
<script type="text/javascript">

    function checkFinished(){
       let finishd = document.getElementById("finishd");
       return (finishd.value === "True" || ("{{today != None}}" !== "True")) ? 1: 0;
    }

    function clickPause(v) {
        if (checkFinished()){
            return
        }
    let pButt = document.getElementById("paused");
    pButt.value = (v === "1") ? "0" : "1";
    setPauseLabel();
    fetch(`/setday?paused=1`).then(res => refreshBreaks());
}


    function calcShowTime(h, m, s){
        if (s > 0){
            s -= 1;
        } else {
            s = (m>0) ? 59 : 0;
            if (m>0){
                m -= 1;
            } else {
                m = (h>0) ? 59 : 0;
                s = (m>0) ? 59 : 0;
                h = (h>0) ? h-1: h;
            }
        }
        return (h, m, s)
    }

    let was_started = 1;
    let h = 0; // 0 - 23
    let m = 0; // 0 - 59
    let s = 0; // 0 - 59




async function showTime(){
    if (was_started===1){
            let response = await fetch(`/refreshtimer?do=true`);
            let resp = await response.json();
            h = resp['getHours'];
            m = resp['getMinutes'];
            s = resp['getSeconds'];
            was_started = 0;
        }
        let is_pause = document.getElementById("paused");
    if (is_pause.value ==="0"){
        h, m, s = calcShowTime(h, m, s);
    }


    let time = setTime(h, m, s);

    document.getElementById("MyClockDisplay").innerText = time;
    document.getElementById("MyClockDisplay").textContent = time;

    setTimeout(showTime, 1000);

}

showTime();
window.onload = refreshBreaks();
window.onload = setPauseLabel();
</script>
{% endblock %}
